.notification-list-item {
    position: relative;
    display: flex;
    margin: 8px;
    min-height: 74px;
    width: 100vw;
    max-width: 400px;
    border-radius: 4px;
    overflow: hidden
}

.notification-list-item--light {
    background-color: #fcfcfc;
    border: 1px solid #eee;
    color: #333
}

.notification-list-item--dark {
    background-color: #333;
    border: 1px solid #222;
    color: #eee
}

.notification-list-item--glass {
    background-color: hsla(0, 0%, 100%, .1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid hsla(0, 0%, 100%, .125);
    border-top-color: hsla(0, 0%, 100%, .25);
    border-left-color: hsla(0, 0%, 100%, .25);
    color: #eee
}

.notification-list-item--dismissible-manual {
    cursor: pointer
}

.notification-list-item__tag{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 6px
}

.notification-list-item--dismissible-automatic .notification-list-item__tag {
    -webkit-animation-name: progress;
    animation-name: progress;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.notification-list-item__message {
    z-index: 1;
    flex: 1;
    padding: 12px 12px 12px 18px
}

.notification-list-item__icon {
    position: absolute;
    bottom: -14px;
    opacity: .25;
    width: 60px
}

.notification-list-item--glass .notification-list-item__icon {
    opacity: .5
}

.notification-list-item--left {
    text-align: right
}

.notification-list-item--left .notification-list-item__tag {
    right: 0
}

.notification-list-item--left .notification-list-item__icon {
    left: -24px;
}

.notification-list-item--right {
    text-align: left
}

.notification-list-item--right .notification-list-item__icon {
    right: -14px;
}

.notification-list-item--success .notification-list-item__tag {
    background-color: #009800
}

.notification-list-item--success .notification-list-item__icon {
    color: #009800
}

.notification-list-item--alert .notification-list-item__tag {
    background-color: #ff3600
}

.notification-list-item--alert .notification-list-item__icon {
    color: #ff3600
}

.notification-list-item--warning .notification-list-item__tag {
    background-color: #ffa600
}

.notification-list-item--warning .notification-list-item__icon {
    color: #ffa600
}

.notification-list-item--info .notification-list-item__tag {
    background-color: #08f
}

.notification-list-item--info .notification-list-item__icon {
    color: #08f
}

@-webkit-keyframes progress {
    0% {
        height: 100%;
        opacity: 1
    }
    to {
        height: 0;
        opacity: .5
    }
}

@keyframes progress {
    0% {
        height: 100%;
        opacity: 1
    }
    to {
        height: 0;
        opacity: .5
    }
}

.notification-list {
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0
}

.notification-list--top-left {
    top: 0;
    left: 0
}

.notification-list--top-left .notification-list-enter-from {
    opacity: 0;
    transform: translateX(-100%)
}

.notification-list--top-left .notification-list-leave-to {
    opacity: 0;
    transform: translate(-100%, -8px)
}

.notification-list--top-left .notification-list-enter-to, .notification-list--top-left .notification-list-leave-from {
    opacity: 1
}

.notification-list--top-left .notification-list-enter-active, .notification-list--top-left .notification-list-leave-active {
    transition: all .3s cubic-bezier(.82, .085, .395, .895)
}

.notification-list--top-left .notification-list-leave-active {
    position: absolute
}

.notification-list--top-left .notification-list-move {
    transition: all .6s ease-in-out
}

.notification-list--bottom-left {
    bottom: 0;
    left: 0
}

.notification-list--bottom-left .notification-list-enter-from {
    opacity: 0;
    transform: translateX(-100%)
}

.notification-list--bottom-left .notification-list-leave-to {
    opacity: 0;
    transform: translate(-100%, calc(-100% - 8px))
}

.notification-list--bottom-left .notification-list-enter-to, .notification-list--bottom-left .notification-list-leave-from {
    opacity: 1
}

.notification-list--bottom-left .notification-list-enter-active, .notification-list--bottom-left .notification-list-leave-active {
    transition: all .3s cubic-bezier(.82, .085, .395, .895)
}

.notification-list--bottom-left .notification-list-leave-active {
    position: absolute
}

.notification-list--bottom-left .notification-list-move {
    transition: all .6s ease-in-out
}

.notification-list--top-right {
    top: 0;
    right: 0
}

.notification-list--top-right .notification-list-enter-from {
    opacity: 1;
    transform: translateX(100%)
}

.notification-list--top-right .notification-list-leave-to {
    opacity: 0;
    transform: translate(100%, -8px)
}

.notification-list--top-right .notification-list-enter-to, .notification-list--top-right .notification-list-leave-from {
    opacity: 1
}

.notification-list--top-right .notification-list-enter-active, .notification-list--top-right .notification-list-leave-active {
    transition: all .3s cubic-bezier(.82, .085, .395, .895)
}

.notification-list--top-right .notification-list-leave-active {
    position: absolute;
    z-index: 90
}

.notification-list--top-right .notification-list-move {
    transition: all .6s ease-in-out
}

.notification-list--bottom-right {
    bottom: 0;
    right: 0
}

.notification-list--bottom-right .notification-list-enter-from {
    opacity: 0;
    transform: translateX(100%)
}

.notification-list--bottom-right .notification-list-leave-to {
    opacity: 0;
    transform: translate(100%, calc(-100% - 8px))
}

.notification-list--bottom-right .notification-list-enter-to, .notification-list--bottom-right .notification-list-leave-from {
    opacity: 1
}

.notification-list--bottom-right .notification-list-enter-active, .notification-list--bottom-right .notification-list-leave-active {
    transition: all .3s cubic-bezier(.82, .085, .395, .895)
}

.notification-list--bottom-right .notification-list-leave-active {
    position: absolute;
    z-index: 90
}

.notification-list--bottom-right .notification-list-move {
    transition: all .6s ease-in-out
}